
img {
  max-width: 100%;
  height: auto;
}

.clouds {
  top: 0px;
  z-index: 10;

}

.cloud {
  -webkit-animation: clouds 60s infinite linear;
  -moz-animation: clouds 60s infinite linear;
  -ms-animation: clouds 60s infinite linear;
  -o-animation: clouds 60s infinite linear;
  animation: clouds 60s infinite linear;
  position: relative;
}

.cloud-1 {
  animation-duration: 50s;
  -moz-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

.cloud-2 {
  margin-top: -100px;
  animation-duration: 60s;
  -moz-transform: scale(0.2, 0.2);
  -ms-transform: scale(0.2, 0.2);
  -webkit-transform: scale(0.2, 0.2);
  transform: scale(0.2, 0.2);
}

.cloud-3 {
  animation-duration: 70s;
  margin-top: -110px;
  -moz-transform: scale(0.45, 0.45);
  -ms-transform: scale(0.45, 0.45);
  -webkit-transform: scale(0.45, 0.45);
  transform: scale(0.45, 0.45);
}

.cloud-4 {
  animation-duration: 80s;
  margin-top: -110px;
  -moz-transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  -webkit-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.4);
}

@-webkit-keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}
@-moz-keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}
@-ms-keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}
@keyframes clouds {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}

.menu {

  background-image: url('./the.png');
  background-repeat: no-repeat;
  background-size: 230px 230px;
  margin-top: 10px;
  background-position-x: center;
  background-position-y: center;
  height: 250px;
  float: left;

}


.rules {
  background-repeat: no-repeat;
  background-size: 230px 230px;
  margin-top: 10px;
  background-position-x: 90%;
  height: 250px;
  float: left;
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url('./stripe.png') 30 round; /* Safari 3.1-5 */
  -o-border-image: url('./stripe.png') 30 round; /* Opera 11-12.1 */
  border-image: url('./stripe.png') 100 repeat;
}


.play {

  background-image: url('./High-score.png');
  background-repeat: no-repeat;
  background-size: 250px;
  height: 55px;
  float: left;
  background-position-x: center;
  background-position-y: center;

}

.score {

  background-image: url('./High-score.png');
  background-repeat: no-repeat;
  background-size: 250px;
  height: 55px;
  float: left;
  background-position-x: center;
  background-position-y: top;

}

.texture {
  background-image: url('./tile-ground.png');
  background-repeat: repeat;
  background-size: 50px 50px;
  height: 300px;
}